<!-- 

<button (click)="displayContent()" class="btn btn-warning">{{content}}</button>


<p [hidden]="display">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus nobis praesentium, odio autem ut soluta? Quaerat officiis nam, recusandae dignissimos cumque, nulla fuga at facere qui repellat reiciendis nisi velit.</p>

<input [(ngModel)]="view" cl
ass="form-control mt-1">
<h1>{{view}}</h1> -->

<!-- <table class="table table-bordered table-striped">
  <thead>
    <th>ID</th>
    <th>Type</th>
    <th>Price</th>
    <th>Model</th>
  </thead>
  <tbody>
    <tr>
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.Model}}</td>
    </tr>
    
  </tbody>
</table> -->

<!-- <input  class="form-control w-75 m-auto my-3" (input)="setValue($event)" [value]="val">
<h2 class="w-75  m-auto">Hello ya : {{val}}</h2> -->

<!-- <input  class="form-control w-75 m-auto my-3"[(ngModel)]="val">
<h2 class="w-75  m-auto">Hello ya : {{val}}</h2> -->

<app-navbar></app-navbar>
<app-home></app-home>
