@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Libre+Franklin&family=Montserrat+Alternates:wght@300&family=Poppins:wght@200;300&display=swap');
*
{
    font-family: 'Dancing Script', cursive;
}
.navbar
{
    box-shadow: 0px 0px  10px #cdcbcb;
}
.navbar-brand .logo
{
    width : 50px;
}
.navbar-brand 
{
    line-height: 20px;
}
.navbar-brand p
{
    color:#6b0836;
}
.navbar-brand span
{
    font-size: 14px;
}
.active
{
    border-bottom: 3px solid #6b0836;
}
.nav-item a
{
    line-height:12px;
    color: #000;
}